<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="85170" android:versionName="1.21.99" android:installLocation="auto" package="uk.co.o2.android.o2trains"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:label="@string/NOODLES_TEXT_O2_PERMISSION_LABEL" android:name="uk.co.o2.android.o2trains.intent.permission.O2Wallet" android:protectionLevel="dangerous" android:permissionGroup="android.permission-group.PERSONAL_INFO" android:description="@string/NOODLES_TEXT_O2_PERMISSION_DESCRIPTION" />
    <uses-permission android:name="uk.co.o2.android.o2trains.intent.permission.O2Wallet" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="false" />
    <application android:theme="@style/Theme.ApplicationTheme" android:label="[TEST] O2 Trains" android:icon="@drawable/app_icon" android:name="app.core.ApplicationBase" android:hardwareAccelerated="true">
        <activity android:name="app.dynamic_menu.activity.DynamicMenuActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="ukrailo2" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="app.core.activity.JourneyPlannerActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="app.core.activity.RepeatJourneysActivity" />
        <activity android:name="app.core.activity.StationPickerActivity" />
        <activity android:name="app.core.activity.StationPickerRecentAllStationActivity" android:configChanges="orientation" android:windowSoftInputMode="stateVisible|adjustPan" android:noHistory="true" />
        <activity android:name="app.core.activity.StationPickerNearbyActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" android:noHistory="true" />
        <activity android:name="app.core.activity.StationPickerMapActivity" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Dialog" android:name="app.widget.calendar.DateWidget" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="app.core.activity.OnePartTwoPartActivity" />
        <activity android:name="app.core.activity.TimetableOutboundSingleActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="app.core.activity.TimetableInboundSingleActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="app.core.activity.TimetableOnePartReturnActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="app.core.activity.TimetableOutboundSingleParallelSpinnersActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="app.core.activity.TimetableInboundSingleParallelSpinnersActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="app.core.activity.TimetableOnePartReturnParallelSpinnersActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="app.core.activity.RestrictionsOnePartActivity" />
        <activity android:name="app.core.activity.RestrictionsTwoPartActivity" />
        <activity android:name="app.core.activity.SelectRepeatCCActivity" />
        <activity android:name="app.core.activity.EnterCCDetailsActivity" android:configChanges="orientation" android:windowSoftInputMode="adjustResize" />
        <activity android:name="app.core.activity.EnterRepeatCVVActivity" android:configChanges="orientation" android:windowSoftInputMode="adjustResize" />
        <activity android:name="app.core.activity.InboundOpenReturnTrainsActivity" />
        <activity android:name="app.core.activity.TicketConfirmationActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="app.core.activity.TicketWalletActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="app.core.activity.TicketSummaryTODActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="app.core.activity.TicketRSP6HumanReadableActivity" android:screenOrientation="portrait" />
        <activity android:name="app.core.activity.TicketRSP6BarcodeViewActivity" android:screenOrientation="portrait" />
        <activity android:name="app.core.activity.StationBoardFormActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="app.core.activity.StationBoardActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="app.core.activity.StationBoardServiceDetailsActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="app.core.activity.JourneyManagerActivity" android:screenOrientation="portrait" />
        <activity android:name="app.core.activity.JourneyManagerWebViewActivity" android:screenOrientation="portrait" />
        <activity android:name="app.core.activity.JourneyManagerMapActivity" android:screenOrientation="portrait" />
        <activity android:name="app.core.activity.MyAccountActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" android:noHistory="true" />
        <activity android:name="app.core.activity.AccountAuthFailActivity" android:windowSoftInputMode="stateHidden|adjustResize" android:noHistory="true" />
        <activity android:name="app.core.activity.PurchaseHistoryActivity" android:screenOrientation="portrait" />
        <activity android:name="app.core.activity.PurchaseHistoryGroupActivity" android:screenOrientation="portrait" />
        <activity android:name="app.core.activity.PurchaseHistoryItemDetailsActivity" />
        <activity android:name="app.core.activity.JourneyManagerTubeMapActivity" />
        <activity android:theme="@style/Theme.SemiTransparent" android:name="app.core.activity.EntropyGatheringActivity" />
        <activity android:name="app.core.activity.InfoHtmlActivity" />
        <activity android:name="app.core.activity.ExternalHtmlActivity" />
        <activity android:name="app.core.activity.UpgradeActivity" />
        <activity android:name="app.core.activity.OAuthLinkerActivity" />
        <activity android:name="app.core.activity.ReadingTagActivity" android:launchMode="singleTop" android:noHistory="true" />
        <receiver android:name="app.core.receiver.O2BroadcastReceiver" android:permission="uk.co.o2.android.o2trains.intent.permission.O2Wallet" android:enabled="true">            <intent-filter>            	<action android:name="com.masabi.app.ukrail.intent.action.O2Wallet" />            </intent-filter>        </receiver>
        <activity android:name="app.core.activity.SelectO2PaymentInstrumentsActivity" android:screenOrientation="portrait" />
        <uses-library android:name="com.google.android.maps" />
    </application>
</manifest>
